@{
    ViewBag.Title = "Home Page";
}

<div id="inject-here">

</div>

 <script>

     $.ajax({
         url: '/Home/GetCourseList',
         type: 'get',
         success: function (html) {
             $("#inject-here").html(html);
             $(".edit-course").click( function () {
                 var id = $(this).parents("tr").find(".course-id").html();
                 $.ajax({
                     url: '/Home/GetCourseById',
                     type: 'post',
                     data: { id: id },
                     success: function (result) {
                         $("#courseId").val(result.Id)
                         $("#title").val(result.Title)
                         $('#craigs-model').modal("show");
                     }
                 })
             })
         }
     });
     
     $(".save-changes-btn").click(function () {
         var formData = $('#edit-student-form').serialize();
         $.ajax({
             url: '/Home/SaveData',
             type: 'post',
             data: formData,
             success: function (result) {
                 $('#craigs-model').modal("hide");
             }
         })
         
     })
 </script> 
